.Pokecard {
    display: inline-block;
    width: 8rem;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

.Pokecard-title {
    color: blue;
    font-weight: bold;
}

.Pokecard-data {
    font-size: 80%;
}